@media screen and (min-width: 750px) {
    html {
        font-size: 75px!important;
    }
}

* {
    padding: 0;
    margin: 0;
}

body {
    width: 10rem;
    min-width: 320px;
    max-width: 750px;
    margin: 0 auto;
}

header {
    position: relative;
    overflow: hidden;
    height: 1.173333rem;
    padding: 0 .453333rem;
    background-color: #FF5393;
}

.logo {
    display: block;
    width: 6rem;
    height: .733333rem;
    margin-top: .266667rem;
}

.logo img {
    width: 100%;
}

.fenlei,
.login {
    position: absolute;
    top: .213333rem;
    width: .48rem;
    height: .8rem;
}

.fenlei {
    right: 1.653333rem;
    background: url(../images/fenlwi.png) no-repeat;
    background-size: .48rem .8rem;
}

.login {
    right: .453333rem;
    background: url(../images/login.png) no-repeat;
    background-size: .48rem .8rem;
}