* {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
button {
	border: none;
}
a {
	text-decoration: none;
}
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
/*版心水平居中*/
.w {
	width: 1200px;
	margin: auto;
}
body {
	background-color: #f3f5f7;
}
.header {
	height: 41px;
	/*background-color: pink;*/
	margin: 30px auto;
}
.logo {
	float: left;
}
.nav {
	float: left;
	margin-left: 72px;
}
.nav li {
	float: left;
	margin-right: 20px;
}
.nav li a {
	display: block;
	height: 39px;
	line-height: 39px;
	padding: 0 10px;

	color: #050505;
	font-size: 18px;
	text-decoration: none;
}
.nav li a:hover {
	border-bottom: 2px solid #00a4ff;
}
.search {
	float: left;
	margin-left: 70px;
}
.search input {
	float: left;
	width: 340px;
	height: 39px;
	padding-left: 20px;
	border: 1px solid #00a4ff;
	border-right: none;
	color: #ccc;
	font-size: 14px;
	outline: none;	
}
.search button {
	float: left;
	width: 50px;
	height: 41px;
	background: url(images/btn.png);
}
.user {
	float: left;
	margin-left: 32px;
	line-height: 41px;
	font-size: 14px;
	color: #666;
}
.user img {
	vertical-align: middle;
}
.banner {
	height: 419px;
	background: #1c036c url(images/banner2.jpg) no-repeat top center;
}
.subnav {
	float: left;
	width: 130px;
	height: 419px;
	padding: 0 31px;
	background: rgba(0, 0, 0, .3);
}
.subnav ul li {
	height: 44px;
	line-height: 44px;
}
.subnav ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 14px;
}
.subnav li a:hover {
	color: #00b4ff;
}
.subnav ul li a span {
	float: right;
}
.course {
	float: right;
	width: 228px;
	height: 300px;
	background-color: #fff;
	margin-top: 49px;
}
.hd {
	height: 49px;
	line-height: 49px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	background-color: #9bceea;
}
.bd {
	height: 251px;
	padding: 0 15px;
}
.bd ul {
	padding-top: 10px;
}
.bd li {
	height: 50px;
	margin-top: 10px;
	border-bottom: 1px solid #eaeaea;
}
.bd h4 {
	color: #4e4e4e;
	font-size: 14px;
}
.bd li p {
	font-size: 12px;
	color:#a5a5a5;
}
.bd a {
	display: block;
	height: 40px;
	margin-top: 5px;
	border: 1px solid #00a4ff;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	color: #00a4ff;
	font-weight: bold;
	text-decoration: none;
}
.goods {
	height: 60px;
	margin-top: 10px;
	line-height: 60px;
	background-color: #fff;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}
.goods h3 {
	float: left;
	margin: 0 30px;
	color: #00a4ff;
	font-size: 16px;
}
.item {
	float: left;
	color: #bfbfbf;
}
.item a {
	margin: 0 30px;
	color: #050505;
	font-size: 16px;
}
.wenzi {
	float: right;
	margin-right: 30px;
	color: #00a4ff;
	font-size: 14px;
}
.box {
	margin-top: 20px;
}
.box-hd {
	height: 60px;
	line-height: 60px;
}
.box-hd h4 {
	float: left;
	color: #494949;
	font-size: 20px;
	font-weight: 400;
}
.box-hd a {
	display: block;
	float: right;
	margin-right: 30px;
	color: #a5a5a5;
	font-size: 12px;
}
.box-bd {
	width: 1215px;
}
.box-bd li {
	float: left;
	width: 228px;
	height: 272px;
	margin-bottom: 15px;
	margin-right: 15px;
	background-color: #fff;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3)
}
.box-bd li img {
	width: 100%;
}
.box-bd li h4 {
	margin: 20px;
	color: #050505;
	font-size: 14px;
	font-weight: 400;
}
.box-bd li p {
	margin: 0 25px;
	font-size: 12px;
	color: #999;
}
.box-bd li span {
	color: orange;
}
.footer {
	height: 387px;
	background-color: #fff;
	padding-top: 30px;
}
.copyright {
	float: left;
}
.copyright p {
	margin: 30px 0 10px 0;
	color: #666;
	font-size: 12px;
}
.copyright a {
	display: block;
	width: 120px;
	height: 35px;
	line-height: 35px;
	border: 1px solid #01a4ff;
	color: #01a4ff;
	font-size: 16px;
	text-align: center;
}
.link {
	float: right;
}
.link dl {
	float: left;
	margin-left: 120px;
}
.link dt {
	height: 30px;
	color: #333;
}
.link dd a {
	color: #333;
	font-size: 12px;
}